<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User-Agent Selector</title>
    <link rel="stylesheet" type="text/css" href="popup.css" />
  </head>
  <body>
    <div id="app">
      <label v-for="agent in userAgents" class="agent-container">
        <div class="radio-item">
          <input
            type="radio"
            name="user_agent"
            v-bind:value="agent.Id"
            v-model="selectedAgentId"
            v-on:change="SelectAgent()"
          />
        </div>
        <div class="inf-item">
          <div class="name-text">{{agent.Name}}</div>
          <div class="value-text">{{agent.Value}}</div>
        </div>
      </label>
      <div id="reload-notice">Don't forget to reload page</div>
    </div>

    <script src="vue.global.prod.js"></script>
    <script src="popup.js"></script>
  </body>
</html>
