body {
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.agent-container {
  display: flex;
  align-items: center;
  padding: 10px;
}
.agent-container .radio-item {
  flex: none;
  margin-right: 10px;
}
.agent-container .inf-item {
  flex: auto;
}
.agent-container input[type='radio'] {
  accent-color: rgb(87, 0, 128);
}
.agent-container .name-text {
  font-weight: bold;
  font-size: large;
}
.agent-container .value-text {
  font-size: small;
  color: gray;
}
#reload-notice {
  margin-top: 10px;
  text-align: right;
  color: gray;
}
